p {
  font-family: Roboto, Arial;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.65);
}

.navbar-container {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-header-section {
  width: 150px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.middle-header-section {
  flex: 1;
  background-color: lightpink;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 300px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.right-header-section {
  width: 150px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 22px;
  width: 140px;
  border-radius: 18px;
}

.sign-in-button {
  background-color: rgb(56, 56, 61);
  color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s;
  text-align: center;
}

.home-title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  line-height: 56px;
}

.home-intro {
  font-size: 16px;
  color: rgb(199, 203, 213);
  text-align: center;
  margin-top: 20px;
}

.latest-posts-button {
    background-color: rgb(56, 56, 61);
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 18px;
    font-family: Geist, sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow 0.15s;
    text-align: center;
}

.latest-posts-button:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(101, 89, 89, 0.15);
}

.latest-posts-button:active {
    opacity: 0.5;
}

.latest-posts-button-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  margin-top: 20px;
}